{% extends "filter_view.html" %}

{% block title %}Dashboard{% endblock %}
{% block subtitle %}Displaying submissions from the last 7 days{% endblock %}
{% block header %}PPE Dashboard{% endblock %}
{% block content %}

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            {% for item in items %}
                {% if loop.index % 3 == 1 %}
                    <div class="nhsuk-grid-row" style="">
                {% endif %}
                <div class="nhsuk-grid-column-one-third">
                    <div class="dashboard-card">
                        <table>
                            <tr>
                                <td class="dashboard-card__title" colspan="2">
                                    <b>{{item['display_name']}}</b>
                                </td>
                            </tr>
                            {% if item['highlight']=='under_one' %}
                                <tr class="highlight-maroon" >{% else %}<tr>
                            {% endif %}
                                <td class="dashboard-card__time">Under 1 day</td>
                                <td class="dashboard-card__percentage">{{item['under_one']}}</td>
                            </tr>
                            {% if item['highlight']=='one_two' %}
                                <tr class="highlight-red" >{% else %}<tr>
                            {% endif %}
                                <td class="dashboard-card__time">1-2 days</td>
                                <td class="dashboard-card__percentage">{{item['one_two']}}</td>
                            </tr>
                            {% if item['highlight']=='two_three' %}
                                <tr class="highlight-amber" >{% else %}<tr>
                            {% endif %}
                                <td class="dashboard-card__time">2-3 days</td>
                                <td class="dashboard-card__percentage">{{item['two_three']}}</td>
                            </tr>
                            {% if item['highlight']=='less-than-week' %}
                                <tr class="highlight-lightgreen" >{% else %}<tr>
                            {% endif %}
                                <td class="dashboard-card__time">3-7 days</td>
                                <td class="dashboard-card__percentage">{{item['less-than-week']}}</td>
                            </tr>
                            {% if item['highlight']=='more-than-week' %}
                                <tr class="highlight-green" >{% else %}<tr>
                            {% endif %}
                                <td class="dashboard-card__time">Over 1 week </td>
                                <td class="dashboard-card__percentage">{{item['more-than-week']}}</td>
                            </tr>
                            <tr>
                                <td class="dashboard-card__link" colspan="2">
                                    <a href="/dashboards/items/{{item['name']}}?{{ request.query_string.decode() }}">View report</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                {% if loop.index % 3 == 0 %}
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}