{% extends "filter_view.html" %}

{% block title %}Dashboard{% endblock %}
{% block subtitle %}Displaying data submitted within the last  7 days from <u>{{ updated_site_count }} out of {{ site_count }}</u> Primary & Community sites.
{% endblock %}
{% block content %}

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-third">
            Overview
            <a href="/sites?{{ request.query_string.decode() }}">View by provider</a>
        </div>
        <br>
        <br>
        <div class="nhsuk-grid-column-full">
            {% for item in items %}
                {% if loop.index % 3 == 1 %}
                    <div class="nhsuk-grid-row" style="">
                {% endif %}
                <div class="nhsuk-grid-column-one-third">
                    <div style="background-color:white; padding:0x 10px">
                        <table>
                            <tr>
                                <td colspan="2">
                                    <b>{{item['display_name']}}</b>
                                </td>
                            </tr>
                            {% if item['highlight']=='under_one' %}
                                <tr class="highlight-maroon" >{% else %}<tr>
                            {% endif %}
                                <td>Under 1 day</td>
                                <td>{{item['under_one']}}</td>
                            </tr>
                            {% if item['highlight']=='one_two' %}
                                <tr class="highlight-red" >{% else %}<tr>
                            {% endif %}
                                <td>1-2 days</td>
                                <td>{{item['one_two']}}</td>
                            </tr>
                            {% if item['highlight']=='two_three' %}
                                <tr class="highlight-amber" >{% else %}<tr>
                            {% endif %}
                                <td>2-3 days</td>
                                <td>{{item['two_three']}}</td>
                            </tr>
                            {% if item['highlight']=='less-than-week' %}
                                <tr class="highlight-lightgreen" >{% else %}<tr>
                            {% endif %}
                                <td>3-7 days</td>
                                <td>{{item['less-than-week']}}</td>
                            </tr>
                            {% if item['highlight']=='more-than-week' %}
                                <tr class="highlight-green" >{% else %}<tr>
                            {% endif %}
                                <td>Over 1 week </td>
                                <td>{{item['more-than-week']}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <a href="/dashboards/items/{{item['name']}}?{{ request.query_string.decode() }}">View report</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                {% if loop.index % 3 == 0 %}
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}