{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h1>Displaying data for {{ sites|length}} sites</h1>
    <div class="row">
        <div class="nhsuk-grid-column-one-quarter">
            {% if boroughs %}
                <legend>Boroughs</legend>
                <fieldset>

                    {% for borough in boroughs %}
                        <div>
                            <label>
                                <input onclick="update_filter('dashboards')" type="checkbox" name="borough" value="{{ borough }}" {% if borough in selected_boroughs %}checked{% endif %}>
                            </label>{{ borough }}
                        </div>
                    {% endfor %}

                </fieldset>

            {% endif %}


            {% if service_types %}
                <legend>Service Types</legend>
                <fieldset>

                    {% for service_type in service_types %}
                        <div>
                            <label>
                                <input onclick="update_filter('dashboards')" type="checkbox" name="service_type" value="{{ service_type }}" {% if service_type in selected_service_types %}checked{% endif %}>
                            </label>{{ service_type }}
                        </div>
                    {% endfor %}

                </fieldset>

            {% endif %}

            {% if pcns %}
                <legend>Primary Care Networks</legend>
                <fieldset>

                    {% for pcn in pcns %}
                        <div>
                            <label>
                                <input onclick="update_filter('dashboards')" type="checkbox" name="pcn" value="{{ pcn }}" {% if pcn in selected_pcns %}checked{% endif %}>
                            </label>{{ pcn }}
                        </div>
                    {% endfor %}

                </fieldset>

            {% endif %}

        </div>
        <div class="nhsuk-grid-column-three-quarters">
              <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        {% for item in items %}
          {% if loop.index % 3 == 1 %}
            <div class="nhsuk-grid-row" style="">
          {% endif %}
            <div class="nhsuk-grid-column-one-quarter">
              <div style="background-color:white; padding:0x 10px">
               <table>
                  <tr>
                    <td colspan="2">
                      <b>{{item['display_name']}}</b>
                    </td>
                  </tr>
                  {% if item['highlight']=='under_one' %}<tr class="highlight-maroon" >{% else %}<tr>{% endif %}
                      <td>Under 1 day</td>
                      <td>{{item['under_one']}}</td>
                  </tr>
                  {% if item['highlight']=='one_two' %}<tr class="highlight-red" >{% else %}<tr>{% endif %}
                      <td>1-2 days</td>
                      <td>{{item['one_two']}}</td>
                  </tr>
                  {% if item['highlight']=='two_three' %}<tr class="highlight-amber" >{% else %}<tr>{% endif %}
                    <td>2-3 days</td>
                    <td>{{item['two_three']}}</td>
                  </tr>
                  {% if item['highlight']=='less-than-week' %}<tr class="highlight-lightgreen" >{% else %}<tr>{% endif %}
                    <td>3-7 days</td>
                    <td>{{item['less-than-week']}}</td>
                  </tr>
                   {% if item['highlight']=='more-than-week' %}<tr class="highlight-green" >{% else %}<tr>{% endif %}
                    <td>Over 1 week </td>
                    <td>{{item['more-than-week']}}</td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <a href="/dashboard?item={{item['name']}}">View report</a>
                    </td>
                  </tr>
                </table>
            </div>
              </div>
          {% if loop.index % 3 == 0 %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
        </div>
    </div>


{% endblock %}