{% extends "layout.html" %}

{% block title %}{{ item }}{% endblock %}

{% block body %}
    <style>
        svg > g > g:last-child { pointer-events: none}
    </style>
    <h1>{{ item_names[item] }}</h1>
    <div id="piechart"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        // Load google charts
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values
        function drawChart() {
              var data = google.visualization.arrayToDataTable([
              ['Task', 'Hours per Day'],
              ['Under 1 day', {{ rag_item_sums['under_one'] }}],
              ['1-2 days', {{ rag_item_sums['one_two'] }}],
              ['2-3 days', {{ rag_item_sums['two_three'] }}],
              ['3-7 days', {{ rag_item_sums['less-than-week'] }}],
              ['Over 1 week', {{ rag_item_sums['more-than-week'] }}]
            ]);

              // Optional; add a title and set the width and height of the chart
              var options = {'width':350,
                            'height':300,
                            colors: ['#951d14', '#d5281b', '#ffa620', '#65eba3', '#2AB369'],
                            'chartArea': {'width': '100%', 'height': '80%'},
                            backgroundColor: { fill:'transparent' },
                            pieSliceTextStyle: {fontSize:14},
                            titleTextStyle: {fontSize:19},
                            legend: {fontSize:14},
                            tooltip: { textStyle: { fontSize: 14 } },
                            'title':'Current Stock Assessment Ratings'
                            };

              var chart = new google.visualization.PieChart(document.getElementById('piechart'));
              chart.draw(data, options);
        }
    </script>

    <table>
    <!-- Header row -->
    <tr>
        <td><b>Provider</b></td>
        <td><b>Current stock level</b></td>
        <td><div><b>Used last 24 hrs</b></div><div class="text-gray nhsuk-u-font-size-16">Estimated figures</div></td>
        <td><div><b>RAG</b></div><div class="text-gray nhsuk-u-font-size-16">Stock assessment rating</div></td>
    </tr>
    {% for item in stock_items %}
        <tr>
            <td>{{item['provider']}}</td>
            <td>{{item['stock-levels']}}</td>
            <td>{{item['quantity_used']}}</td>
            <td><div class="rag-rating"><span class="dot highlight-{{color_codes[item['rag']]}}"></span><span class="text-gray  nhsuk-u-font-size-14 rag-rating_label">{{rag_labels[item['rag']]}}</span></div></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}