{% extends "filter_view.html" %}

{% block title %}Providers{% endblock %}
{% block header %}Providers{% endblock %}

{% block content %}
    <div align="right">
        <div>
            <p id="date_range_label">Last updated</p>
        </div>
        <select name="date_range" id="date_range" onchange="date_range_onchange()">
            <option
                    value="anytime"
                    {% if selected_date_range == 'anytime' %}selected{% endif %}>Anytime</option>
            <option
                    value="last_seven_days"
                    {% if selected_date_range == 'last_seven_days' %}selected{% endif %}>In the last 7 days</option>
            <option
                    value="more_than_seven_days"
                    {% if selected_date_range == 'more_than_seven_days' %}selected{% endif %}>More than 7 days ago</option>
        </select>
    </div>
    <br>
    <div class="nhsuk-grid-row">
    {% if sites %}
        <table>
            <!-- Header row -->
            <tr>
                <td class="provider-name">Provider (A-Z)</td>
                <td class="provider-contact">Contact details</td>
                <td class="provider-updated">Last Updated</td>
            </tr>
            {% for site in sites %}
            <tr>
                <td class="provider-name"><a href="sites/{{ site['code'] }}">{{ site['provider'] }}</a></td>
                <td class="provider-contact nhsuk-u-font-size-16">{{ site['contact_name_1'] }}<br>{{ site['telephone'] }}<br><a href="mailto:{{ site['email_1'] }}">{{ site['email_1'] }}</a> </td>
                <td class="provider-updated text-gray nhsuk-u-font-size-16">{% if site["last_update"] %} {{ site["last_update"].strftime('%H:%M, %a %d %B %Y') }}{% endif %}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    </div>
{% endblock %}
