{% extends "layout.html" %}

{% block title %}Site Page{% endblock %}

{% block body %}

    <h1>{{ site['provider'] }}</h1>

    <a href="../forms/{{ site["code"] }}"><h3>{{ site["provider"] }}</h3></a>

    <table>
    <!-- Header row -->
    <tr>
        <td><h3>PPE type</h3></td>
        <td><h3>Current Stock level</h3>Last updated: {{site['last_updated']}}</td>
        <td><h3>Used last week</h3>Estimated figures</td>
        <td><h3>Used last week</h3>Estimated figures</td>
        <td><h3>RAG</h3></td>
    </tr>
    {% for item in stock_items %}
    <tr>
        <td>{{item['item_name']}}</td>
        <td>{{item['stock-levels']}}</td>
        <td>{{item['quantity_used']}}</td>
        <td>{{item['daily_usage']}}</td>
        <td>{{item['rag']}}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}