

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.highlight-maroon{
  background-color:#951d14;
  color: white;
  border-color: #951D14;
  border-style: solid;
}
.highlight-red{
  background-color:#d5281b;
  border-color: #D5481B;
  border-style: solid;
}
.highlight-amber{
  background-color:#ffa620;
  border-color: #FFA620;
  border-style: solid;
}
.highlight-lightgreen{
  background-color:#65eba3;
  border-color: #65eba3;
  border-style: solid;
}
.highlight-green{
  background-color:#2AB369;
  border-color: #2AB369;
  border-style: solid;
}
.highlight-none{
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  display: none;
  background-color: white;
  overflow: hidden;
}

.filter-container {
  padding-left: 0;
}

.checkbox-container {
  display: flex;
  font-size: 16px;
    margin-bottom: 5px;
}
.checkbox-container label {
  width: 30px;
    flex-shrink: 0;
}

.dashboard-card {
    background: #fff;
    padding: 0 10px;
}

.dashboard-card__title {
    font-size: 24px;
}

.dashboard-card__highlight,
.dashboard-card__percentage {
    font-weight: bold;
}

.highlight-maroon {
    padding: 0 10px;
}

.dashboard-card__time {
    font-size: 16px;
    padding-left: 10px;
}

.dashboard-card__percentage {
    font-size: 16px;
    text-align: right;
    padding-right: 10px;
}

.dashboard-card td:last-child {
    padding-right: 10px!important;
}
.dashboard-card__link {
    border-bottom: 0;
}
.dashboard-card__link a {
    font-size: 16px;
    padding-left: 10px;
}

.nhsuk-details {
  margin-bottom: 0;
}

.text-gray {
  color: #4C6272
}

.rag-rating {
  display: flex;
  align-items: center;
}

.rag-rating_label {
  padding-left: 10px;
}

.no-data-message {
    font-weight: bold;
    color: red
}

.app-header__navigation-item__item--current {
    box-shadow: inset 0 -4px 0 #D8DDE0;
}
.app-header__navigation-item__item--current a {
    font-weight: bold;
}

.provider-name {
    word-break: break-word;
    font-weight: bold;
    width: 38%;
}
.column-title {
    padding-top: 0;
}
.provider-contact {
    word-break: break-word;
    width: 38%;
}
.provider-updated {
    width: 24%;
    font-size: 14px; /*Change existing font class to 14px rather than add it here */
}

h1 {
    font-size: 64px;
    margin: 30px 0 0 0;
}